<h1>About Swaps</h1>
<p>
	Swaps is an addon for WoW. Visit our page on Curse:
	<a href="http://wow.curse.com/downloads/wow-addons/details/swaps.aspx">http://wow.curse.com/downloads/wow-addons/details/swaps.aspx</a>
</p>
