<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://wow.curse.com/downloads/wow-addons/details/swaps.aspx">Download Swaps</a></li>
		</ul>
	</nav>
</footer>